@media only screen and (min-width: 831px) and (max-width: 1024px){

    .container{
        width: 100%;
    }
    
    /*HEADER*/
    .header{
        width: 100%;
    }

    .navbar{
        height: 44px;
        display: flex;
        flex-wrap: wrap;
        padding: 26px 26px 26px 0px;
    }

    .box-icon img{
        margin-left: 16px;
    }


    /*TITULO*/
    .title{
        padding-left: 5%;
        margin-top: 29px;
    }

    .title h1{
        font-size: 5.5rem;
    }

    .subtitle{
        width: 55%;
        padding-left: 5%;
        margin-left: 0px;
        text-align: left;
    }

    .subtitle p{
        font-size: 1.1rem;
        letter-spacing: 0;
        line-height: 22px;
    }

    .box-title button{
        width: 288px;
        height: 48px;
        margin-left: 5%;
        margin-top: 26px;
    }
    
    /*BOX CENTRAL MUSICA*/
    .box-center-page{
        position: relative;
        width: 100%;
        margin-top: 40px;
    }

    .rectangulo {
        width: 100%;
        height: 950px;
        display: flex;
        flex-direction: column;
    }

    .rombo{
        clip-path: polygon(100% 0%, 100% 93%, 0% 100%, 0% 7%);
    }

    .box-center-title{
        margin-top: 15%;
        margin-left: 10%;
        margin-bottom: 26px;
    }

    .box-center-title h3{
        color: #FFFFFF;
        font-weight: 400;
    }

    .container-music{
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
    }

    .music{
        display: flex;
    }

    .music .iframe-contain:first-child{
        margin-right: 20px;
    }

    .iframe-contain{
        width: 476px;
        height: 232px;
        margin-bottom: 50px;
        border-radius: 20px;
    }

    .box-celu{
        position: absolute;
        left: 0px;
        top: 855px;
        width: 45%;
        height: 519px;
        display: flex;
        justify-content: center;
    }

    .celu-1{
        width: 300px;
        height: 515px;
    }

    .box-center-2 {
        padding-left: 40%;
        height: 290px;
    }

    .box-center-2-title{
        width: 100%;
        padding-left: 5%; 
    }

    .box-center-2-title h3{
        font-size: 40px;
    }

    .box-center-2-description{
        width: 100%;
        padding-left: 5%;
        padding-right: 3%;
    }

    /*BOX CENTRAL 3*/
    .box-center-3{
        margin-top: 120px;
    }

    .box-center-3-title{
        padding-left: 5%
    }

    .box-center-3-title h3{
        font-size: 4rem;
    }

    /*BOTTON-PAGE*/
    .bottom-page-title{
        padding-left: 5%;
        margin-top: 63px;
    }

    .bottom-page-title h3{
        font-size: 4rem;
    }

    .bottom-page-novelties{
        height: 400px;
    }

    .novelties h3{
        font-size: 3.8rem;
    }

    .footer-text{
        margin-left: 5%;
    }

    .footer-icons{
        margin-right: 5%;
    }
}